.row.col-md-6
  .chat-panel.panel.panel-default
    .panel-heading
      %i.fa.fa-comments.fa-fw
      = @chat_room.topic.upcase
    .panel-body
      %ul.chat.messages{'data-chat-room-id' => @chat_room.id}
        = render @chat_room.messages
    .panel-footer
      = form_for @message, remote: true, authenticity_token: true, class: "form-inline" do |f|
        = f.hidden_field 'chat_room_id', value: @chat_room.id
        = f.text_field :body, id: 'chat-enter', class: 'form-control input-sm', placeholder: 'Type your message...'
